.header {
    max-height: 6rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2vw;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(6px)
}

.stroke {
    height: 1px;
    width: 70%;
    background-color: var(--project-black);
    transition: height 0.2s ease-in-out;
}

.stroke:hover {
    height: 5px;
}