.firstContainer {
    height: calc(92vh);
    width: 100%;
    z-index: -1;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.heroContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 6rem;
    padding-left: 2rem;

}


.twentyfifty {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.char {
    transform: translateY(-115px);
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}


.twentyfifty h1 {
    font-size: 16rem;
    background: linear-gradient(0deg, rgba(177, 135, 164, 1) 0%, rgba(58, 58, 57, 1) 33%, rgba(58, 58, 57, 1) 51%, rgba(58, 58, 57, 1) 60%, rgba(177, 135, 164, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.twentyfifty h1:nth-of-type(2) {
    transform: translateY(-13vh)
}