.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    /* background:
        radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 20%),
        radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 20%);
    background-size: 5px 5px;
    background-position: 0 0, 5px 5px; */
    ;
    backdrop-filter: contrast(188%) hue-rotate(246deg) invert(100%) saturate(300%) sepia(41%);
    transition: scale 0.2s ease-in-out;
}




.expand {
    transform: scale(1.1);
}