/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/home/firstSection/firstSection.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.firstSection_firstContainer__NJEV_ {
    height: calc(92vh);
    width: 100%;
    z-index: -1;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.firstSection_heroContainer__igp6z {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 6rem;
    padding-left: 2rem;

}


.firstSection_twentyfifty__x1xcY {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}



.firstSection_twentyfifty__x1xcY h1 {
    font-size: 16rem;
    background: linear-gradient(0deg, rgba(177, 135, 164, 1) 0%, rgba(58, 58, 57, 1) 33%, rgba(58, 58, 57, 1) 51%, rgba(58, 58, 57, 1) 60%, rgba(177, 135, 164, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

}

.firstSection_twentyfifty__x1xcY h1:nth-of-type(2) {
    transform: translateY(-13vh)
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/home/secondSection/video/videoComponent.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.videoComponent_videoContainer__vqwnh {
    height: 100%;
    width: 100%;
    background-color: red;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.videoComponent_videoContainer__vqwnh video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/home/secondSection/secondSection.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.secondSection_secondContainer__kh9XT {
    height: 100vh;
    width: 100%;
    border: 1px solid var(--project-black);
    scroll-snap-stop: always;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.secondSection_secondContainer__kh9XT h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13rem;
    color: white;
    mix-blend-mode: difference;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/home/thirdSection/thirdSection.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.thirdSection_thirdContainer__vlc86 {
    height: 100vh;
    width: 100%;
    border: 1px solid var(--project-black);

}
